.cart-wrapper {
    margin: 3em auto;
    width: 60%;
    /* background: linear-gradient(
        rgba(0, 0, 0, 0.05), 
        rgba(0, 0, 0, 0.5)
      ), url('https://images.unsplash.com/photo-1571656721197-d8f16e3b90d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1096&q=80') no-repeat center center; */
    padding: 2em;

    /* background: linear-gradient(
        rgba(0, 0, 0, 0.05), 
        rgba(0, 0, 0, 0.5)
      ), url('https://images.unsplash.com/photo-1586864985444-ddd0ba84c323?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80') no-repeat center center;
     */
}

.summary-box,
.checkout-box {
  background: #ffffff;
  width: 20%;
  margin: 3em auto;
  border-radius: 0.3em;
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

.summary-box h4,
.summary-box div,
.checkout-box h4,
.checkout-box div {
  padding:  0.8em 0 0;
  margin: auto;
}

.summary-box div span,
.checkout-box div span {
  color: #9D0552;
  font-weight: 600;
}

.summary-box button,
.checkout-box button {
  width: 80%;
  border: 1px solid #9D0552;
  padding: 1em 1.5em;
  border-radius: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  background: #9D0552;
  margin: 1.5em;
}

.summary-box button:hover,
.checkout-box button:hover {
  border-color: #9d0551b4;
  color: #9D0552;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px #9d0551b4;
  cursor: pointer;
}

.personal-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.personal-info input {
  border: none;
  border: 1px solid #9D0552;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1.5em;
}

.personal-info input:hover,
.personal-info input:focus {
  box-shadow: 0px 0px 5px 1px #9d0551b4;
  outline: none;
}