.order-card {
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 0.3em;
    display: flex;
    position: relative;
    margin: 2em 0;
    background-color: #ffffff;
}

.order-image {
    flex: 0 0 20%;
    margin: 1em;
    display: block;
    position: relative;
    overflow: hidden;
}

.order-image img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    position: absolute;
}

.order-image img::after {
    padding-top: 100%;
    content: '';
    display: block;
}

.order-details {
    text-align: left;
    margin: 0;
    padding: 0 2em;
}

.order-header {
    margin: 0.5em 0;
}

.order-header p {
    opacity: 0.6;
}

.order-type {
    color: #9D0552;
    text-transform: uppercase;
}

.order-price {
    color: #9D0552;
    font-weight: 600;
}

.order-price {
    color: #9D0552;
    font-weight: 600;
}

.order-action {
    margin: 1.5em 0;
    display: flex;
}

.order-action .product-qty {
    padding: 0 0.5em;
}

.btn-minus .fa-minus,
.btn-plus .fa-plus {
    cursor: pointer;
}

.order-action button {
    border: 1px solid #9D0552;
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
    text-transform: uppercase;
    color: #ffffff;
    background: #9D0552;
    margin: 0 1em;
}

.order-action button:hover {
    border-color: #9d0551b4;
    color: #9D0552;
    background: #ffffff;
    box-shadow: 0px 0px 5px 1px #9d0551b4;
}