.product-card {
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 0.3em;
    display: flex;
    position: relative;
    margin: 2em 0;
    background-color: #ffffff;
}

.product-image {
    flex: 0 0 20%;
    margin: 1em;
    display: block;
    position: relative;
    overflow: hidden;
}

.product-image img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    position: absolute;
}

.product-image img::after {
    padding-top: 100%;
    content: '';
    display: block;
}

.product-details {
    text-align: left;
    margin: 0;
    padding: 0 2em;
}

.product-header h5 {
    margin: 0.5em 0;
}

.product-price {
    color: #9D0552;
    font-weight: 600;
}

.product-action {
    margin: 1.5em 0;
}

.product-action i {
    padding-right: 0.5em;
}

.add-btn,
.delete-btn,
.product-action a {
    border: 1px solid #9D0552;
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
    text-transform: uppercase;
    color: #ffffff;
    background: #9D0552;
    margin-right: 0.8em;
}

.add-btn,
.delete-btn {
    font-family: Verdana, Geneva, sans-serif;
}

.product-action a:hover,
.add-btn:hover,
.delete-btn:hover {
    border-color: #9d0551b4;
    color: #9D0552;
    background: #ffffff;
    box-shadow: 0px 0px 5px 1px #9d0551b4;
}
