.blog-article {
    width: 60%;
    margin: 3em auto;
}

.blog-article-title {
    margin-bottom: 1em;
}

.content {
    width: 100%;
    background-color: #ffffff;
    text-align: justify;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.9);
    overflow: hidden;
    padding: 2em;
}

.blog-article-media {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
    width: 45%;
    float: left;
    margin-right: 2em;
}

.blog-article-media img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog-article-media::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.blog-article-content {
    white-space: pre-wrap;
}
