.error-wrapper {
    box-shadow: 0px 5px 10px 1px #000000;
    width: 60%;
    margin: 3em auto;
    border-radius: 0.3em;
    text-transform: uppercase;
    background: linear-gradient(
        rgba(0, 0, 0, 0.05), 
        rgba(0, 0, 0, 0.5)
      ), url('https://images.unsplash.com/photo-1601502444609-14fa1cb181fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center center;
    text-align: left;
    padding: 3em;
}

.error-heading,
.error-content,
.error-status {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
}

.error-content {
    font-size: 1.3em;
    margin-bottom: 2em;
}

.error-status {
    font-size: 5em;
}

.error-link {
    padding: 0.8em 1.8em;
    border-radius: 0.5em;
    color: #000000;
    background-color: #ffffff;
}

.error-link:hover {
    padding: 0.8em 1.8em;
    border-radius: 0.5em;
    color: #000000;
    background-color: #ffffff;
}